@import "tailwindcss";

:root {
     --related-color: #DB60A9;
}

::-webkit-scrollbar {
     display: none; /* For Chrome, Safari, and Opera */
}
*{
     font-family: "Poppins", sans-serif;
     scroll-behavior: smooth;
}
html , body {
     margin: 0;
     padding: 0;
}

.denk {
     font-family: "Denk One", sans-serif;
}

.related {
     color: var(--related-color);
}
.related-bg {
     background-color: var(--related-color);
}

.logo{
     font-family: "Stick No Bills", sans-serif;
}